# dependencies
/node_modules

# build
/dist
/dist-server

# env files
.env*
!.env.example

# typescript
*.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
