# dependencies
/node_modules

# build
/dist

# package manager
pnpm-lock.yaml
package-lock.json
yarn.lock

# env files
.env*
!.env.example

# typescript
*.tsbuildinfo

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# misc
.DS_Store
